In [29]:
import pandas as pd
import numpy as np
import json 
import random

In [30]:
armoni = pd.read_excel("ÇANAKKALE ARMONİ BAZ LİSTE.xlsx")
armoni.head()

,İL,İLÇE,MEVKİ,ADA,PARSEL,HİSSE PARSEL NO,M2 NET,M2 BRÜT,FİYAT PEŞİN,FİYAT VADELİ
0,ÇANAKKALE,ŞAHİNLİ,LAPSEKİ,0,901,900,160,196,725788,907480
1,ÇANAKKALE,ŞAHİNLİ,LAPSEKİ,0,901,901,98,134,496202,620420
2,ÇANAKKALE,ŞAHİNLİ,LAPSEKİ,0,901,902,98,134,496202,620420
3,ÇANAKKALE,ŞAHİNLİ,LAPSEKİ,0,901,903,98,134,496202,620420
4,ÇANAKKALE,ŞAHİNLİ,LAPSEKİ,0,901,904,92,128,473984,592640

In [31]:
ayvo = pd.read_excel("AYVO BAZ LİSTE.xlsx")
ayvo.head()

,İL,İLÇE,MEVKİ,ADA,PARSEL,M2 NET,FİYAT PEŞİN,FİYAT VADELİ
0,BALIKESİR,AYVALIK,ÇAMOBA,101/1,1,237,NaN,NaN
1,BALIKESİR,AYVALIK,ÇAMOBA,101/1,2,219,NaN,NaN
2,BALIKESİR,AYVALIK,ÇAMOBA,101/1,3,240,NaN,NaN
3,BALIKESİR,AYVALIK,ÇAMOBA,101/1,4,200,NaN,NaN
4,BALIKESİR,AYVALIK,ÇAMOBA,101/1,5,232,NaN,NaN

In [32]:
izmit = pd.read_excel("İZMİT BAZ LİSTE.xlsx")
izmit.head()

,Unnamed: 0,İL,İLÇE,MEVKİ,ADA,PARSEL,M2 NET,FİYAT PEŞİN,FİYAT VADELİ
0,NaN,KOCAELİ,İZMİT,ORMANKÖY,119,1284,240,NaN,NaN
1,NaN,KOCAELİ,İZMİT,ORMANKÖY,119,1285,240,NaN,NaN
2,NaN,KOCAELİ,İZMİT,ORMANKÖY,119,1286,240,NaN,NaN
3,NaN,KOCAELİ,İZMİT,ORMANKÖY,119,1304,240,NaN,NaN
4,NaN,KOCAELİ,İZMİT,ORMANKÖY,119,1305,240,NaN,NaN

In [33]:
iznik = pd.read_excel("İznik Baz Liste Fiyatlandırılmış.xlsx")
iznik.head()

       İL    İLÇE    MEVKİ   ADA  PARSEL  M2 NET  FİYAT PEŞİN  FİYAT VADELİ
0  BURSA   İZNİK   ELBEYLİ  1145     287     368    2205240.0       2594400
1  BURSA   İZNİK   ELBEYLİ  1145     288     398    2385015.0       2805900
2  BURSA   İZNİK   ELBEYLİ  1145     289     442    2648685.0       3116100
3  BURSA   İZNİK   ELBEYLİ  1394       7     306    1976760.0       2325600
4  BURSA   İZNİK   ELBEYLİ  1394       8     360    2325600.0       2736000

In [37]:
columns = ["İL", "İLÇE", "MEVKİ", "ADA", "PARSEL", "M2 NET"]

data = armoni[columns]


data = pd.concat([data, ayvo[columns]])
data = pd.concat([data, izmit[columns]])
data = pd.concat([data, iznik[columns]])



data

            İL      İLÇE    MEVKİ   ADA  PARSEL  M2 NET
0    ÇANAKKALE  ŞAHİNLİ   LAPSEKİ     0     901     160
1    ÇANAKKALE  ŞAHİNLİ   LAPSEKİ     0     901      98
2    ÇANAKKALE  ŞAHİNLİ   LAPSEKİ     0     901      98
3    ÇANAKKALE  ŞAHİNLİ   LAPSEKİ     0     901      98
4    ÇANAKKALE  ŞAHİNLİ   LAPSEKİ     0     901      92
..         ...       ...      ...   ...     ...     ...
102     BURSA     İZNİK   ELBEYLİ  1411      29     220
103     BURSA     İZNİK   ELBEYLİ  1411      30     365
104     BURSA     İZNİK   ELBEYLİ  1411      31     365
105     BURSA     İZNİK   ELBEYLİ  1411      32     355
106     BURSA     İZNİK   ELBEYLİ  1411      33     667

[823 rows x 6 columns]

In [53]:
set(data["MEVKİ"].values)

{'ELBEYLİ', 'LAPSEKİ', 'ORMANKÖY', 'ÇAMOBA'}

In [50]:
for i in range(1, data.index.size + 1):
    print(data["ADA"].values[i-1])

0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
101/1
101/1
101/1
101/1
101/1
101/1
101/1
101/1
101/1
101/1
101/1
101/1
101/1
101/1
101/1
101/1
101/1
101/1
101/1
101/1
101/1
101/1
101/1
101/1
101/1
101/1
101/1
101/1
101/1
101/1
101/1
101/1
101/1
101/1
101/1
101/1
101/1
101/1
101/1
101/1
101/1
101/1
101/1
101/1
101/1
101/1
101/1
101/1
101/1
101/1
101/1
101/1
101/1
101/1
101/1
101/1
101/1
101/1
101/1
101/1
101/1
101/1
101/1
101/1
101/1
101/1
101/1
101/1
101/1
101/1
101/1
101/1
101/1
101/1
101/1
101/1
101/1
101/1
101/1
101/1
101/1
101/1
101/1
101/1
101/1
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
119
1145
1145
1145
1394
1394
1394
1394
1394
1394
1395
1395
1395
1395
1395
1395
1395
1395
1395
1395
1395
1395
1396
1396
1396
1397
1397
1397
1397
1398
1398
1398
1398
1398
1398
1398
1398
1398
1398
1398
1398
1398
1398
1398
1398
1398
1398
1398
1402
1402
1402
1403
1403
1403
1403
1403
1403
1403
1403
1403
1403
1403
1403
1403
1403
1403
1408
1408
1408
1409
1409
1409
1409
1409
1409
1409
1409
1409
1409
1409
1411
1411
1411
1411
1411
1411
1411
1411
1411
1411
1411
1411
1411
1411
1411
1411
1411
1411
1411
1411
1411
1411
1411
1411
1411
1411
1411
1411

In [52]:
import json
import random

data_list = []

for i in range(1, data.index.size + 1):
    parcel = {
        "model": "app.parcel",
        "pk": i,
        "fields": {
            "il": data["İL"].values[i-1],
            "ilce": data["İLÇE"].values[i-1],
            "mevki": data["MEVKİ"].values[i-1],
            "ada": data["ADA"].values[i-1],
            "parsel": int(data["PARSEL"].values[i-1]),
            "m2_net" : int(data["M2 NET"].values[i-1])
        }
    }
    data_list.append(parcel)

with open("data.json", "w", encoding="utf-8") as outfile:
    json.dump(data_list, outfile, ensure_ascii=False)