In [5]:
import pandas as pd
import numpy as np
import json 
import random

In [6]:
armoni = pd.read_excel("ÇANAKKALE ARMONİ BAZ LİSTE.xlsx")

sah = list()

for i in armoni["MEVKİ"]:
    sah.append(i[:-1])

armoni["MEVKİ"] = sah

armoni["FİYAT"] = [3703*i for i in armoni["M2 NET"]]

armoni.head()

,İL,MEVKİ,İLÇE,ADA,PARSEL,HİSSE PARSEL NO,M2 NET,M2 BRÜT,FİYAT PEŞİN,FİYAT VADELİ,FİYAT
0,ÇANAKKALE,ŞAHİNLİ,LAPSEKİ,0,901,900,160,NaN,NaN,NaN,592480
1,ÇANAKKALE,ŞAHİNLİ,LAPSEKİ,0,901,901,98,NaN,NaN,NaN,362894
2,ÇANAKKALE,ŞAHİNLİ,LAPSEKİ,0,901,902,98,NaN,NaN,NaN,362894
3,ÇANAKKALE,ŞAHİNLİ,LAPSEKİ,0,901,903,98,NaN,NaN,NaN,362894
4,ÇANAKKALE,ŞAHİNLİ,LAPSEKİ,0,901,904,92,NaN,NaN,NaN,340676

In [7]:
ayvo = pd.read_excel("AYVO BAZ LİSTE.xlsx")
ayvo["FİYAT"] = [3703*i for i in ayvo["M2 NET"]]

ayvo.head()

,İL,İLÇE,MEVKİ,ADA,PARSEL,M2 NET,FİYAT PEŞİN,FİYAT VADELİ,FİYAT
0,BALIKESİR,AYVALIK,ÇAMOBA,101/1,1,237,NaN,NaN,877611
1,BALIKESİR,AYVALIK,ÇAMOBA,101/1,2,219,NaN,NaN,810957
2,BALIKESİR,AYVALIK,ÇAMOBA,101/1,3,240,NaN,NaN,888720
3,BALIKESİR,AYVALIK,ÇAMOBA,101/1,4,200,NaN,NaN,740600
4,BALIKESİR,AYVALIK,ÇAMOBA,101/1,5,232,NaN,NaN,859096

In [8]:
izmit = pd.read_excel("İZMİT BAZ LİSTE.xlsx")
izmit["FİYAT"] = [5250*i for i in izmit["M2 NET"]]

izmit.head()

,Unnamed: 0,İL,İLÇE,MEVKİ,ADA,PARSEL,M2 NET,FİYAT PEŞİN,FİYAT VADELİ,FİYAT
0,NaN,KOCAELİ,İZMİT,ORMANKÖY,119,1284,240,NaN,NaN,1260000
1,NaN,KOCAELİ,İZMİT,ORMANKÖY,119,1285,240,NaN,NaN,1260000
2,NaN,KOCAELİ,İZMİT,ORMANKÖY,119,1286,240,NaN,NaN,1260000
3,NaN,KOCAELİ,İZMİT,ORMANKÖY,119,1304,240,NaN,NaN,1260000
4,NaN,KOCAELİ,İZMİT,ORMANKÖY,119,1305,240,NaN,NaN,1260000

In [9]:
iznik = pd.read_excel("İznik Baz Liste Fiyatlandırılmış.xlsx")
iznik["FİYAT"] = [6500*i for i in iznik["M2 NET"]]

iznik.head()

,İL,İLÇE,MEVKİ,ADA,PARSEL,M2 NET,FİYAT PEŞİN,FİYAT VADELİ,FİYAT
0,BURSA,İZNİK,ELBEYLİ,1145,287,368,2205240.0,2594400,2392000
1,BURSA,İZNİK,ELBEYLİ,1145,288,398,2385015.0,2805900,2587000
2,BURSA,İZNİK,ELBEYLİ,1145,289,442,2648685.0,3116100,2873000
3,BURSA,İZNİK,ELBEYLİ,1394,7,306,1976760.0,2325600,1989000
4,BURSA,İZNİK,ELBEYLİ,1394,8,360,2325600.0,2736000,2340000

In [10]:
gumus = pd.read_excel("Gümüşova Baz Liste.xlsx")
gumus["FİYAT"] = [4500*i for i in gumus["M2 NET"]]

gumus.head()
# gumus.dropna(inplace=True)

,İL,İLÇE,MEVKİ,ADA,PARSEL,M2 NET,FİYAT PEŞİN,FİYAT VADELİ,FİYAT
0,DÜZCE,GÜMÜŞOVA,YEŞİLYAYLA,361,1A,276,NaN,NaN,1242000
1,DÜZCE,GÜMÜŞOVA,YEŞİLYAYLA,361,2B,262,NaN,NaN,1179000
2,DÜZCE,GÜMÜŞOVA,YEŞİLYAYLA,361,2A,230,NaN,NaN,1035000
3,DÜZCE,GÜMÜŞOVA,YEŞİLYAYLA,361,2B,200,NaN,NaN,900000
4,DÜZCE,GÜMÜŞOVA,YEŞİLYAYLA,361,3A,236,NaN,NaN,1062000

In [11]:
columns = ["İL", "İLÇE", "MEVKİ", "ADA", "PARSEL", "M2 NET", "FİYAT"]

data = armoni[columns]


data = pd.concat([data, ayvo[columns]])
data = pd.concat([data, izmit[columns]])
data = pd.concat([data, iznik[columns]])
data = pd.concat([data, gumus[columns]])



data

            İL      İLÇE       MEVKİ  ADA PARSEL  M2 NET    FİYAT
0    ÇANAKKALE   LAPSEKİ     ŞAHİNLİ    0    901     160   592480
1    ÇANAKKALE   LAPSEKİ     ŞAHİNLİ    0    901      98   362894
2    ÇANAKKALE   LAPSEKİ     ŞAHİNLİ    0    901      98   362894
3    ÇANAKKALE   LAPSEKİ     ŞAHİNLİ    0    901      98   362894
4    ÇANAKKALE   LAPSEKİ     ŞAHİNLİ    0    901      92   340676
..         ...       ...         ...  ...    ...     ...      ...
103      DÜZCE  GÜMÜŞOVA  YEŞİLYAYLA  369     4B     300  1350000
104      DÜZCE  GÜMÜŞOVA  YEŞİLYAYLA  369     5A     310  1395000
105      DÜZCE  GÜMÜŞOVA  YEŞİLYAYLA  369     5B     250  1125000
106      DÜZCE  GÜMÜŞOVA  YEŞİLYAYLA  369     6A     225  1012500
107      DÜZCE  GÜMÜŞOVA  YEŞİLYAYLA  369     6B     225  1012500

[931 rows x 7 columns]

In [12]:
set(data["MEVKİ"].values)

{'ELBEYLİ', 'ORMANKÖY', 'YEŞİLYAYLA', 'ÇAMOBA', 'ŞAHİNLİ'}

In [13]:
import json
import random

data_list = []

for i in range(1, data.index.size + 1):
    parcel = {
        "model": "app.parcel",
        "pk": i,
        "fields": {
            "il": data["İL"].values[i-1],
            "ilce": data["İLÇE"].values[i-1],
            "mevki": data["MEVKİ"].values[i-1],
            "ada": data["ADA"].values[i-1],
            "parsel": str(data["PARSEL"].values[i-1]),
            "m2_net" : int(data["M2 NET"].values[i-1]),
            "fiyat" : int(data["FİYAT"].values[i-1])
        }
    }
    data_list.append(parcel)

with open("data.json", "w", encoding="utf-8") as outfile:
    json.dump(data_list, outfile, ensure_ascii=False)